div.header{
    background: #F0FFF0;
}

div.searcher{
    margin: 20px 200px;
    background-color: #F0FFF0;
    opacity: 0.8;
    filter:alpha(opacity=80);
}

body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(199,186,159,1) 70%);
    background-attachment: fixed
}

p.show{
    height: 40px;
    position: relative;
    left: 38px;
    font-weight: bold;
    display: block;
    text-align: center;
    font:15px/5 'Microsoft YaHei',Arial,Helvetica,sans-serif,SimSun;
    margin-right: 60px;
}

span.show{
    font:15px/5 'Microsoft YaHei',Arial,Helvetica,sans-serif,SimSun;
    display: inline;
    color: #c21015;
    font-weight: bold;
}

h4{
    font:20px/5 'Microsoft YaHei',Arial,Helvetica,sans-serif,SimSun;
    display: block;
    color: #c2563b;
    font-weight: bold;
    line-height: 100%;
    position: relative;
    height: 20px;
    cursor: pointer;
    vertical-align: bottom;
    margin: 10px;
}

.h{
    margin: 20px 40px 10px 40px;
    border-bottom: 1.5px solid #c2563b;
}

p.result{
    display: block;
    height: 20px;
    margin: 0;
    position: relative;
    left: 38px;
    color: gray;
    font:13px/5 'Microsoft YaHei',Arial,Helvetica,sans-serif,SimSun;
}

span.show1{
    font:13px/5 'Microsoft YaHei',Arial,Helvetica,sans-serif,SimSun;
    display: inline;
    color: #c2333a;
    font-weight: bold;
}